* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* home feature */

.features {
    display: flex;
    width: 100%;
    padding: 0px 180px 0px 180px;
    background-color: rgb(35, 41, 46);
}

.features-card {
    display: flex;
    width: 25%;
    align-items: center;
    gap: 18px;
    padding: 16px 25px;
    /* background-color: white; */
    border-left: 0.2px solid rgb(214, 212, 212);
    border-right: 0.2px solid rgb(214, 212, 212);
    color: white;
}

.feature-detail h6 {
    /* color: #484848; */
    font-size: 1rem;
    font-weight: 500;
}

.feature-detail p {
    /* color: #919191; */
    font-weight: 400;
}

/* Offers */

.offers{
    width: 100%;
    padding: 60px 180px 60px 180px;
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #ebebeb;
}

.offer-card{
    display: flex;
    width: 38%;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #d8d7d7;
    box-shadow: 0 2px 10px rgba(153, 153, 153, 0.1);
    padding: 14px 28px;
}
.product-img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.offer-detail{}

.offer-detail p{
    color: #6c757d;
}

.offer-detail h1{
    font-size: 4rem;
    color: rgb(255, 72, 0);
}

.offer-detail h3{
    font-size: 1.75rem;
}

/* Products */

.products{
    width: 100%;
    padding: 80px 180px 80px 180px;
}
.products h1{
    font-size: 2.5rem;
    color: #484848;
    font-weight: 500;
    margin-bottom: 3rem;
}
.all-products{
    display: flex;
    justify-content: space-around;
}
.product-card{
    width: 20%;
    border-radius: 10px;
    border: 1px solid #d8d7d7;
    box-shadow: 0 2px 10px rgba(153, 153, 153, 0.1);
    cursor: pointer;
}
.product-img img{
    width: 100%;
    /* margin-top: 20px; */
}
.product-details{
    text-align: center;
    padding: 10px 10px 20px 10px;
}
.product-details h4{
    font-size: 1.5rem;
    color: #484848;
    font-weight: 500;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.product-details .price{
    font-size: 1.25rem;
    margin-bottom: 1em;
}


/* Footer */

.footer {
    background-color: rgb(35, 41, 46);
    color: white;
    padding: 20px 180px 20px 180px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

h3 {
    color: rgb(248, 116, 8);
}

.comp-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 160px;
}

.comp-info p {
    width: 60%;
}

.quick-links {
    width: 20%;
}

.contact {
    width: 20%;
}